/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
.column {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}
.row {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
html,
body {
  font-size: 62.5%;
  height: 100%;
  background-color: #FAF0E6;
  color: #000080;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
header {
  height: 100%;
  width: 15%;
  border-bottom: 3px solid #483D8B;
  background-image: url(https://images.all-free-download.com/images/graphicthumb/nostalgic_blue_background_06_hd_pictures_169782.jpg);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}
header nav p {
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 33%;
}
h1 {
  font-size: 4rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  background-color: #a9a9a9;
  padding: 2%;
}
.intro p {
  font-size: 2rem;
}
h2 {
  font-size: 3rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
a {
  color: #FAF0E6;
  font-size: 2rem;
}
.aboutme {
  border-top: 4px solid #483D8B;
  border-bottom: 4px solid #483D8B;
}
.history h2 {
  margin-bottom: 2%;
}
span {
  padding: 1%;
  width: 100%;
  background-color: #a9a9a9;
  margin: 0% auto;
  font-size: 1.5rem;
  color: #2F4F4F;
}
#mid {
  background-color: #FAF0E6;
}
section {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}
section div {
  margin: 0 5%;
  padding: 1% 10%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}
section div p {
  margin: 2% auto;
  width: 80%;
  font-size: 1.75rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
@media (max-width: 500px) {
  a {
    font-size: 1.5rem;
  }
  header {
    width: 20%;
  }
  header nav p {
    padding-left: 25%;
  }
}
