/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
.column {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}
.row {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
html,
body {
  font-size: 62.5%;
  height: 100vh;
  background-color: #faf0e6;
  color: #000080;
  font-family: "Libre Baskerville", serif;
}
@media (max-width: 500px) {
  html a,
  body a {
    font-size: 1.5rem;
  }
  html header,
  body header {
    width: 20%;
  }
  html header nav p,
  body header nav p {
    padding-left: 25%;
  }
}
.container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}
.container header {
  height: 100vh;
  width: 15%;
  border-bottom: 3px solid #483d8b;
  background-image: url("https://images.all-free-download.com/images/graphicthumb/nostalgic_blue_background_06_hd_pictures_169782.jpg");
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}
.container header nav p {
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 33%;
}
.container header nav p a {
  color: #faf0e6;
  font-size: 2rem;
}
.container section {
  height: 100vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}
.container section div {
  margin: 0 5%;
  padding: 1% 10%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}
.container section div h1 {
  font-size: 4rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  background-color: #a9a9a9;
  padding: 2%;
}
.container section div .intro p {
  font-size: 2rem;
}
.container section div h2 {
  font-size: 3rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.container section div p {
  margin: 2% auto;
  width: 80%;
  font-size: 1.75rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.container section div ul {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
}
.container section div ul li {
  margin: 0 auto;
  font-size: 1.5rem;
}
.container section div div .history #work {
  font-family: "Libre Baskerville", serif;
  border-collapse: collapse;
  width: 100%;
}
.container section div div .history #work td,
.container section div div .history #work th {
  border-top: 2px solid #ddd;
  padding: 8px;
}
.container section div div .history #work tr:nth-child(even) {
  background-color: #f2f2f2;
}
.container section div div .history #work tr:hover {
  background-color: #ddd;
}
.container section div div .history #work th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #faf0e6;
  color: red;
}
.container section div div .history div.aboutme #skills {
  font-family: "Libre Baskerville", serif;
  border-collapse: collapse;
  width: 50%;
}
.container section div div .history div.aboutme #skills td,
.container section div div .history div.aboutme #skills th {
  border: 1px solid #ddd;
  padding: 8px;
}
.container section div div .history div.aboutme #skills tr:hover {
  background-color: #ddd;
}
@media (max-width: 500px) {
  .container section div a {
    font-size: 1.5rem;
  }
  .container section div header {
    width: 20%;
  }
  .container section div header nav p {
    padding-left: 25%;
  }
}
.container #work {
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
  border-collapse: collapse;
  width: 100%;
}
.container #work td,
.container #work th {
  border-top: 2px solid #ddd;
  padding: 8px;
}
.container #work tr:nth-child(even) {
  background-color: #f2f2f2;
}
.container #work tr:hover {
  background-color: #ddd;
}
.container #work th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #faf0e6;
  color: white;
}
.container #skills {
  font-family: "Libre Baskerville", serif;
  border-collapse: collapse;
  width: 50%;
}
.container #skills td,
.container #skills th {
  border: 1px solid #ddd;
  padding: 8px;
}
.container #skills tr:hover {
  background-color: #ddd;
}
.container .aboutme {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 4px solid #483d8b;
  border-bottom: 4px solid #483d8b;
}
.container .history h2 {
  margin-bottom: 2%;
}
.container .history span {
  padding: 1%;
  width: 100%;
  background-color: #a9a9a9;
  margin: 0% auto;
  font-size: 1.5rem;
  color: #2f4f4f;
}
.container #mid {
  background-color: #faf0e6;
}
