// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}
@bg: #FAF0E6;
@fontc: #000080;
@borderc: #483D8B;

.column{
	display:flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-around;
}

.row {
	display:flex;
	flex-direction: row;
	align-content: center;
	justify-content: center;
}


html, body {
	font-size: 62.5%;
	height: 100%;
	background-color: @bg;
	color: @fontc;
	.row();
	flex-wrap: wrap;
	
}

header {
	height: 100%;
	width: 15%;
	border-bottom: 3px solid @borderc;
	background-image: url(https://images.all-free-download.com/images/graphicthumb/nostalgic_blue_background_06_hd_pictures_169782.jpg);
	.column();
	nav p {
		padding-top: 6rem;
		padding-bottom: 6rem;
		padding-left: 33%;
	}
}


h1 {
	font-size: 4rem;
.row();
	background-color: #a9a9a9;
	padding: 2%;
}
.intro p{
	font-size: 2rem;
}
h2 {
	font-size: 3rem;
	.row();
}

a{
	color: @bg;
	font-size: 2rem;
}

.aboutme {
	border-top: 4px solid @borderc;
	border-bottom: 4px solid @borderc;
	
	
}
.history h2 {
	margin-bottom: 2%;
}

span {
	padding: 1%;
	width: 100%;
	background-color: #a9a9a9 ;
	margin: 0% auto;
	font-size: 1.5rem;
	color: #2F4F4F;
}
#mid {
	background-color: @bg;
}




section {
	width: 80%;
	.column();
	div {
		margin: 0 5%;
		padding: 1% 10%;
		.column();
		p {
			margin: 2% auto;
			width: 80%;
			font-size: 1.75rem;
			.row();
		}
	}
}

@media (max-width: 500px) {
	a {
		font-size: 1.5rem;
	}
	header {
		width: 20%;
	}
	header nav p {
		padding-left: 25%;
	}
}

